html, body{
	font-family: 'Droid Sans', sans-serif;
	position: relative;
	width: 100%;
	height: 100%;
}

body{
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('../img/fondo.png');
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.alto-completo{
	position: relative;
	height: 100%;
}

.obj-centrar{
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.obj-izq{
	margin-left: 0;
	margin-right: auto;
}
.obj-der{
	margin-left: auto;
	margin-right: 0;
}

.espaciado-10{
	margin-top: 10px;
	margin-bottom: 10px;
}

.row-sinborde{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.v-center-contenedor {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
}

.v-center-contenido{
	display: table-cell;
	vertical-align: middle;
}

.v-bottom-contenido{
	display: table-cell;
	vertical-align: bottom;
}
.v-center-contenido-h{
	text-align: center;
}

.mayusculas{
	text-transform: uppercase;
}

.fondo-lista{
	position: relative;
	background-image: url('../img/panel.png');
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



/*Media Querys*/
/* Large desktop */
@media (min-width: 1921px) {

}

@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	html, body{
		position: relative;
		height: auto;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	html, body{
		position: relative;
		height: auto;
	}
}